﻿
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <form id="formShape" class="row">

        <div class="col-md-6">

            <label for="country">Select Shape</label>
            <select id="selectShape" required="">
                <option value="" selected disabled hidden>Wybierz Figurę</option>
                <option value="1">Square</option>
                <option value="2">Circle</option>
                <option value="3">Triangle</option>
                <option value="4">Rectangle</option>
            </select>
            <div class="col-md-12 hide">
                <h4 id="description">Wybrałeś kwadrat:<br> wzór danych to [a], np: [5.25]<br> a - Długość boku.</h4>
            </div>


        </div>
        <div class="col-md-6">

           
            <div class="col-md-12 hide">
                <label>Wprowadź wartość:</label><br />
                <input id="patternAnswers" type="text" value="[5]" />
            </div>
           

            <div class="col-md-12 hide">
                <br />
                <button class="btn btn-primary" type="submit">Calculate</button>
            </div>
        </div>
      

    </form>
 
    <script>
        $(function () {
            var type = "";
            $("#selectShape")
                .change(function () {
                    var description = "";
                    var patternAnswers = ""
                    type = this.value;
                    switch (parseInt(this.value)) {
                        case 1:
                            description = "Wybrałeś kwadrat:<br> wzór danych to [a], np: [5.25]<br> a - Długość boku.";
                            patternAnswers = "[5]";
                            break;
                        case 2:
                            description = "Wybrałeś koło:<br> wzór danych to [r], np: [5.5]<br> r - Promień okręgu";
                            patternAnswers = "[5.5]";
                            break;
                        case 3:
                            description = "Wybrałeś trójkąt:<br> wzór danych to [a,h], np: [3.1,4.2]<br> a - to długość podstawy trójkąta <br> h - wysokość trójkąta";
                            patternAnswers = "[7.2, 4]";
                            break;
                        case 4:
                            description = "Wybrałeś Prostokąt:<br> wzór danych to [a,b], np: [7.1,2.2]<br> a i b - są długościami boków prostokątu.";
                            patternAnswers = "[7.2, 4]";
                            break;
                        
                    }
                    $("#formShape *").removeClass("hide")
                    $("#description").html(description);
                    $("#patternAnswers").val(patternAnswers);

                })
            $("#formShape").submit(function (e) {
                e.preventDefault();
                $.ajax({
                    url: "../api/ShapeApi", //gdzie się łączymy
                    method: "post", //typ połączenia, domyślnie get
                    dataType: "json", //typ danych jakich oczekujemy w odpowiedzi

                    contentType: "application/json", //gdy wysyłamy dane czasami chcemy ustawić ich typ
                    data: JSON.stringify( { //dane do wysyłki
                        "type": type,
                        "data": $("#patternAnswers").val()
                    }),
                    success: function (data) { alert(data); },
                    failure: function (errMsg) {
                        alert(errMsg);
                    }
            });
            })
        });


    </script>

